{% extends 'layout.html' %}

{% block title %}
Главная
{% endblock %}

{% block menu_bar %}

<a class="btn btn-outline-primary" href="{{ url_for('login_page') }}">Вход</a>
<a class="btn btn-outline-primary" href="{{ url_for('register') }}">Регистрация</a>
{% endblock %}

{% block body %}


<div class="container">

    <div class="content_div">
        <h2>Добро пожаловать, дорогой пользователь!</h2><br>
        <p>Ты посетил сайт увлекательнейшей квест-игры. Данная игра отличается наличием нескольких сюжетных линий,
            но лишь одна ведёт к победе.<br>
            В данном квесте тебе придётся нелегко, ведь твоя главная задача - выжить несмотря ни на что и найти путь к
            выходу из жуткого места, в которое тебе предстоит отправиться.
            <br>Этим местечком заправляет сумасшедший программист, жаждуший кровавого зрелища. Он организовал
            реалити-квест, на кону победы которого находятся жизни играющих.
            Тебе предстоит разгадать его план, стараться анализировать ситуацию на ходу, так как времени будет вечно не
            хватать.<br>
            Ты готов поиграть? Награда весьма соблазнительна (по заверениям создателя - несметные богатства), но
            поражение будет означать твою смерть!
            <br> Если ты готов поиграть с дьяволом, дерзай! Жми на кнопку "Начать игру"!
        </p>
    </div>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" href="{{ url_for('start_game') }}">Начать игру</a>
    </nav>
</div>
{% endblock %}